<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/contact.css' />
  </head>
  <body>
    <div class="main-container">
      <div class="blur-circle1">
    
      </div>
      <div class="blur-circle2">
    
      </div>
      <!-- Start Landing Page -->
      <div class="landing-page">
        <header>
          <div class="container">
            <a href="#" class="logo">
               <img src="/images/aws next logo.jpg" alt="">
               <b>AWS NEXT</b>  
            </a>
            <ul class="links">
              <li><a href="/">Home</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Logout</a></li>
             
              
            </ul>
          </div>
        </header>
        <div class="content">
          <div class="container">
            <div class="info">
              <h1>hello from Contact page</h1>
          <h3>Sucessfull logged in</h3>
          <p>you have to be loggedin to access contact us page</p>
            </div>
            
          </div>
        </div>
        

       
      </div>
      <!-- End Landing Page -->
    </div>
  </body>
</html>
