<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="main-container">
      <div class="blur-circle1">
    
      </div>
      <div class="blur-circle2">
    
      </div>
      <!-- Start Landing Page -->
      <div class="landing-page">
        <header>
          <div class="container">
            <a href="#" class="logo">
               <img src="/images/aws next logo.jpg" alt="">
               <b>AWS NEXT</b>  
            </a>
            <ul class="links">
              <li><a href="/">Home</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
            </ul>
          </div>
        </header>
        <!-- <form id="form">
            <h1>LOGIN </h1>
        <p>Welcome to AWS NEXT</p>

            <label data-placeholder="Email"><input type="email" placeholder="Email" /></label>
            <label data-placeholder="Password"><input type="password" placeholder="Password"/></label>
            <button>Login</button>
            <div class="loader">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>  
            <input type="text" name="username" placeholder="Username" class="detail" />
            <input type="password" name="password" placeholder="Password" class="detail" />
            <input type="submit" class="btn int" value="Login Account">
          </form>
      </div> -->
      <!-- End Landing Page -->
      <div class="container">
        <div class="content">
          
          <img src="/images/aws next logo.jpg" alt="pin logo" class="img1" />
          <h1>LOGIN </h1>
          <p>Welcome to AWS NEXT</p>
          <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" class="detail" />
            <input type="password" name="password" placeholder="Password" class="detail" />
            <input type="submit" class="btn int" value="Login Account">
          </form>
      
        
          
          
    
          <footer>
            <p>
              By continuing, you agree to our
              <b>Terms of Service, Privacy policy.</b>
            </p>
            <hr />
            <br>
            <a href="/register">Not a User yet? Register</p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
